<h1> Title: <%= @book.title %> </h1>

<h2> Reviews: </h2>

<% @book.reviews.each do |review| %>
  <h3> Reviewer: <%= review.user.name %> </h3>
  <h3> Rating: <%= review.rating %> </h3>
  <h3> Review: <%= review.content %> </h3>
<% end %>
