<div class="top">
  <h1>Show Page for <%= @book.title %> </h1>
</div>

<div class="row">
  <div class="highrate">
    <h2>Highest Rating</h2>
    <p>reviewed by and body</p>
  </div>
  <div class="lowrate">
    <h2>Lowest Rating</h2>
    <p>reviewed by and body</p>
  </div>
</div>

<div class="row">
  <main class="main">
    <h3><%= @book.title %></h3>
    <p>Avg Rating: methodfrommodel</p>
  </main>

  <aside class="aside">
    <h3>All reviews</h3>
    <p>This is where my list of reviews will be</p>
  </aside>
</div>
