<h1>Show Page for <%= @book.title %> </h1>

<div class="header">
  <h2>Highest Rating</h2>
    <p>reviewed by and body</p>
  <h2>Lowest Rating</h2>
    <p>reviewed by and body</p>
</div>

<main class="body">
  <h3><%= @book.title %></h3>
  <p>Avg Rating: methodfrommodel</p>
</main>
<aside class="reviews">
  <h3>All reviews</h3>
  <p>This is where my list of reviews will be</p>
</aside>
