<h1><%= @book.title %></h1>

<p>Average Rating: <%= @book.average_rating %></p>

<h2>Ratings</h2>
<% @book.reviews.each do |review| %>
  <h3><%= review.user.name %></h3>
  <p><%= review.rating %></p>
<% end %>
